$color-white: #fff;
$color-black: #000;
$color-grey-lightest: #f8f8f8;
$color-grey: #ccc;
$color-grey2: #999;
$color-dark-red: #388E3C;
$color-red: #4CAF50;

$color-primary: #388E3C;
$color-primary-faded: #C8E6C9;
$color-lp-bg: #4CAF50;
$color-lp-primary: #4CAF50;
$color-lp-primary-faded: rgb(129, 222, 132);


$color-grey-input: #757575;
